
                    <li>
                        <div class="nav-item separar_Vert">
                            <form action="{% url 'buscar_juegos' %}" method="get" class="d-flex justify-content-center">
                                <input type="text" name="q" class="form-control w-40" placeholder="Buscar juegos..." minlength="3" required>
                                <button type="submit" class="btn btn-outline-primary ms-2">Buscar</button>
                            </form>
                        </div>
                    </li>

